@import '../../styles/variables';

.registration {
  position: relative;
  width: 100%;
  height: 530px;
  padding-top: 250px;
  background-color: $background-primary;
}

.container {
  @include center-between;
}

.content {
  width: 49%;
  @include left-start;
}

.title {
  @include center;
  font-size: 40px;
  font-weight: 500;
  color: $text-primary;
  margin-top: 20px;
}

.titleInside {
  margin-left: 12px;
  position: relative;
  color: $success !important;
}

.titleInside::before {
  @include textShape;
}

.images {
  position: relative;
  width: 49%;
  display: flex;
  justify-content: flex-end;
  z-index: 10;
  align-items: flex-start;
}

.badgeWrapper {
  position: relative;
  width: 140px;
  height: 140px;
  text-align: center;
  border: 1px solid $border;
  border-radius: 100%;
  padding: 10px;
  margin-right: 20%;
}

.badgeWrapper::before {
  @include roundShape;
  background-size: 160px;
}

.badge {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: $success;
  @include center;
  img {
    width: 90px;
  }
}

.avatar {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  overflow: hidden;
  @include center;
  img {
    width: 100%;
  }
}

.shapeLeft {
  @include position(absolute, $bottom: 0, $left: 0);
  z-index: 0;
}

.shapeYellowLeft {
  width: 85px;
  @include position(absolute, $top: calc(50% - 80px), $left: 5%);
  z-index: 0;
}

.shapeRight {
  @include position(absolute, $top: 0, $right: 0);
  z-index: 0;
}

.arrowRight {
  @include position(absolute, $top: 0, $right: calc(40% - 20px));
}

@media (max-width: 992px) {
  .registration {
    padding-top: 100px;
  }
  .images {
    width: 49%;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-end;
  }
  .badgeWrapper {
    margin-top: 30px;
    margin-right: 40%;
  }
  .arrowRight {
    top: 50%;
  }
}

@media (max-width: 768px) {
  .registration {
    padding-top: 30px;
  }
  .container {
    height: 100%;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .images {
    width: 100%;
    flex-direction: row;
    @include center;
    margin-bottom: 30px;
  }
  .badgeWrapper {
    width: 90px;
    height: 90px;
    margin-right: 20%;
  }
  .badgeWrapper::before {
    background-size: 120px;
  }
  .arrowRight {
    right: 50%;
  }
  .badge {
    img {
      width: 50px;
    }
  }
  .avatar {
    img {
      width: auto;
    }
  }
  .content {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .badgeWrapper {
    width: 80px;
    height: 80px;
    margin-right: 12%;
  }
  .badgeWrapper::before {
    background-size: 90px;
  }
  .badge {
    img {
      width: 40px;
    }
  }
  .title {
    font-size: 30px;
  }
  .shapeLeft {
    display: none;
  }
}
