@import './shared.scss';

$success: #309255;
$warning: #ffa200;
$error: #ff0000;

$text-dark: #000000;
$text-primary: #212832;
$text-secondary: #1d2733;
$text-ternary: #52565b;

$border: rgba(48, 146, 85, 0.25);
$shadow: rgba(33, 40, 50, 0.15);
$error: #ffb19d;

$paper: #ffffff;
$background-primary: #eefbf3;
$background-secondary: #deede4;
$background-ternary: #e7f8ee;
