@import '../../styles/variables';

.header {
  @include position(absolute, $top: 0, $left: 0);
  top: 0;
  width: 100%;
  height: 50px;
  background-color: $text-primary;
  z-index: 99;
}

.container {
  height: 100%;
  padding: 3px 0;
  @include center-between;
}

.title {
  font-size: 15px;
  color: $paper;
}

.titleLink {
  font-family: 'Gordita Bold';
  font-size: 15px;
  font-weight: 700;
  color: $success;
}
