@import '../../styles/variables';

.navbar {
  width: 100%;
  height: 90px;
  @include center;
  transition: all 200ms ease-in;
  z-index: 199;
}

.navbarTop {
  @extend .navbar;
  @include position(absolute, $top: 50px, $left: 0);
  margin: 35px auto;
  background-color: transparent;
}

.navbarBottom {
  @extend .navbar;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 2px 4px 8px $shadow;
  background-color: $paper;
}

.containerTop {
  height: 100%;
  padding: 10px 12px;
  @include center-between;
  border-radius: 15px;
  border: 1px solid $border;
}

.containerBottom {
  height: 100%;
  padding: 10px;
  @include center-between;
}

.logo {
  width: 170px;
  margin-right: 20px;
}

.linksWrapper {
  width: 500px;
  @include center-between;
}

.link {
  font-size: 17px;
  color: $text-primary;
  transition: color 200ms ease-in;
}

.link:hover {
  color: $success;
  transition: color 200ms ease-in;
}

.activeLink {
  position: relative;
  color: $success;
}

.activeLink::before {
  @include textShape;
  width: 80px;
  top: 30px;
  z-index: 5;
}

.buttons {
  width: 280px;
  @include center-between;
}

.buttonWrapper {
  width: 150px;
}

@media (max-width: 991px) {
  .navbar {
    display: none;
  }
}
