@import '../../../styles/variables';

.formContainer {
  width: 100%;
  @include left-start;
}

.form {
  width: 100%;
}

.inputContainer {
  width: 100%;
  @include left-start;
  margin: 12px 0;
}

.errorMessage {
  color: $error;
  font-size: 12px;
  margin-top: 4px;
}

.buttonContainer {
  width: 100%;
  margin: 12px 0;
}
