@import '../../styles/variables';

.footer {
  position: relative;
  width: 100%;
  background-color: $background-ternary;
}

.shapeLeft {
  @include position(absolute, $top: 70px, $left: 5%);
  width: 80px;
}

.shapeRight {
  @include position(absolute, $bottom: 90px, $right: 5%);
  width: 120px;
}

.container {
  height: 400px;
  @include center;
}

.columns {
  width: 100%;
  height: 350px;
  @include center-between;
  align-items: flex-start;
  padding: 35px 0;
}

.column {
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 5;
}

.logo {
  width: 170px;
  margin-bottom: 25px;
}

.logoTitle {
  font-family: 'Gordita Bold';
  color: $text-ternary;
  font-size: 22px;
  margin-bottom: 6px;
}

.title {
  font-family: 'Gordita Bold';
  color: $text-ternary;
  font-size: 22px;
  margin-bottom: 30px;
}

.subTitle {
  font-size: 15px;
  color: $success;
}

.contact {
  margin: 30px 0;
}

.link {
  font-family: 'Gordita Regular';
  color: $text-ternary;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 10px;
  transition: color 200ms ease-in;
}

.link:hover {
  color: $success;
  transition: color 200ms ease-in;
}

.text {
  font-family: 'Gordita Light';
  color: $text-ternary;
  font-size: 15px;
  text-align: left;
  color: $text-primary;
}

.inputWrapper {
  width: 100%;
  margin: 15px 0;
}

.buttonWrapper {
  width: 195px;
  margin-top: 20px;
}

@media (max-width: 991px) {
  .container {
    height: 650px;
  }

  .columns {
    flex-wrap: wrap;
    height: 600px;
  }
  .column {
    width: 45%;
    align-items: center;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .container {
    height: 1200px;
  }

  .columns {
    flex-wrap: wrap;
    height: 1100px;
  }
  .column {
    width: 100%;
    align-items: center;
    margin-bottom: 30px;
  }
}
